*{
    font-size: 25px;
    font-family: 'poppins';
}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
nav ul li{
    display: inline-block;
    list-style: none;
    position: relative;

}
nav ul li a{
    padding:20px;
    color: orange;
    text-decoration: none;
}